In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('imdb.xlsx', index_col=0)

In [3]:
df.head()

                                              review  sentiment
0  A very, very, very slow-moving, aimless movie ...          0
1  Not sure who was more lost - the flat characte...          0
2  Attempting artiness with black & white and cle...          0
3       Very little music or anything to speak of.            0
4  The best scene in the movie was when Gerardo i...          1

# TF-IDF

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [5]:
tfidf = TfidfVectorizer(max_features=500, stop_words='english')

In [6]:
tdm = tfidf.fit_transform(df['review'])

In [11]:
word_count = pd.DataFrame({
    '단어': tfidf.get_feature_names(),
    '빈도': tdm.sum(axis=0).flat # 빈도에 일정한 가중치준 값 
})

In [14]:
word_count.sort_values('빈도', ascending=False)

           단어         빈도
284     movie  44.917213
153      film  40.356390
33        bad  25.258572
225      just  20.296871
178      good  18.604656
..        ...        ...
181  graphics   0.174344
266   massive   0.174344
427     theme   0.138036
162        fx   0.138036
445   trilogy   0.131758

[500 rows x 2 columns]

# countvectorizer 로 구현 되어있는 단어문서행렬 자체를 tf-idf 로 바꾸는 코드

In [15]:
from sklearn.feature_extraction.text import CountVectorizer

In [16]:
cv = CountVectorizer(max_features=500, stop_words='english')

In [17]:
tdm2 = cv.fit_transform(df['review'])

In [18]:
from sklearn.feature_extraction.text import TfidfTransformer

In [19]:
trans = TfidfTransformer()

In [20]:
tdm3 = trans.fit_transform(tdm2)

## 비교

In [22]:
import numpy as np

In [24]:
np.allclose(tdm.A, tdm3.A)
# 둘다 압축된 형태이기 때문에 압축을 푸는 A로 바꿔서 넣어준다 둘은 똑같음을 알 수 있다.

True