In [1]:
import pandas as pd 
df = pd.read_csv('imdb.zip')
df.head()

                                              review  sentiment
0  A very, very, very slow-moving, aimless movie ...          0
1  Not sure who was more lost - the flat characte...          0
2  Attempting artiness with black & white and cle...          0
3         Very little music or anything to speak of.          0
4  The best scene in the movie was when Gerardo i...          1

In [2]:
df.shape

(1000, 2)

In [2]:
import joblib 
tk = joblib.load('tokenizer.pkl')

In [3]:
# 텍스트를 번호로 바꿔줌 
seqs = tk.texts_to_sequences(df['review'])

In [4]:
seqs[0]

[4, 27, 27, 27, 287, 407, 1217, 13, 36, 4, 1218, 1219, 408, 142]

In [5]:
seq = seqs[0]

In [6]:
seq

[4, 27, 27, 27, 287, 407, 1217, 13, 36, 4, 1218, 1219, 408, 142]

In [10]:
for i in range(0, len(seq) - 4):
    print((seq[i:i+4], seq[i+4]))

([4, 27, 27, 27], 287)
([27, 27, 27, 287], 407)
([27, 27, 287, 407], 1217)
([27, 287, 407, 1217], 13)
([287, 407, 1217, 13], 36)
([407, 1217, 13, 36], 4)
([1217, 13, 36, 4], 1218)
([13, 36, 4, 1218], 1219)
([36, 4, 1218, 1219], 408)
([4, 1218, 1219, 408], 142)

In [12]:
data = []
for seq in seqs:
    for i in range(0, len(seq) - 4):
        data.append((seq[i:i+4], seq[i+4]))

In [13]:
data[0]

([4, 27, 27, 27], 287)

In [14]:
# 데이터 섞어 주기 
import random 
random.shuffle(data)

In [15]:
import numpy as np 
xs = np.array([x for x, y in data])
ys = np.array([y for x, y in data])

In [16]:
ys

array([ 17,   9, 341, ...,  78,  70, 441])

In [17]:
# 저장 
joblib.dump((xs, ys), 'Im-data.pkl')

['Im-data.pkl']